.main{
	width: 980px;
	height: 455px;
	margin-left: 219px;
	margin-top: 10px;
}
.focus{
	position: relative;
	float: left;
	width: 721px;
	height: 455px;
	overflow: hidden;
}
.arrow-l,
.arrow-r{
	display: none;
	position: absolute;
	top:50%;
	margin-top: -20px;
	width: 24px;
	height: 40px;
	background: rgba(0,0,0,.3);
	text-align: center;
	line-height: 40px;
	font-family: 'icomoon';
	font-size: 18px;
	color: #fff;
	z-index: 2;
}
.focus ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 600%;
}
.focus ul li {
    float: left;
}
.arrow-r{
	right: 0;
}
.arrow-l{
	transform: rotate(180deg);  
	/*旋转180度*/
}
.circle{
	position: absolute;
	left: 50px;
	bottom: 10px;
}
.circle li{
	float: left;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	margin: 0 3px;
	cursor: pointer;
	border: 2px solid rgba(255,255,255,.5);
}
.current{
	background-color: #fff;
}
.newflash{
	width: 250px;
	height: 455px;
	float: right;
}
.new{
	height: 163px;
	border: 1px solid #ccc;
}
.new_hd {
	height: 32px;
	line-height: 32px;
	border-bottom: 1px dashed #ccc;
	font-size: 14px;
	padding: 0 15px;
}
.new_hd a{
	float: right;
	font-family: 'icomoon';
	font-size: 12px;
}
.new_bd{
	padding: 10px 0  0 15px;
}
.new_bd li{
	height: 23px;
}
.bargain{
	height: 75px;
	margin-top: 5px;
}
.lifeservice{
	height: 208px;
	border: 1px solid #ccc;
	border-top: none;
	overflow: hidden;
}
.lifeservice ul{
	width: 252px;
}
.lifeservice li{
	position: relative;
	float: left;
	width: 62px;
	height: 70px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.hot {
	position: absolute;
	right: 0;
	top: 0;
	width: 12px;
	height: 15px;
	background: url(../images/jian.jpg) no-repeat;
}
.lifeservice li a{
	display: block;
	overflow: hidden;
	height: 100%;
}
.service_ico {
	display: block;
	margin: 10px auto;
	width: 24px;
	height: 24px;
	background: url(../images/icons.png) no-repeat;
}
.service_ico_huafei{
	background-position:-17px -16px; 
}
.lifeservice p{
	text-align: center;
}
.service_ico_feji{
	width: 26px;
	background-position: -78px -16px;
}
.service_ico_dianying{
	width: 24px;
	background-position:-140px -16px; 
}
.service_ico_jiankang{
	width: 26px;
	background-position:-205px -16px; 
}
.recommend{
	height: 163px;
	margin-top: 10px;
}
.recom-hd {
	width: 200px;
	height: 163px;
	background-color: #5c5251;
	text-align: center;
}
.recom-hd img {
	margin: 30px 0 10px 0;
}
.recom-hd h3 {
	font-size: 18px;
	color: #fff;
	font-weight: normal;
}
.recom-bd {
	width: 1000px;
	height: 163px;
	background-color: #ebebeb;
}
.recom-bd li {
	float: left;
	width: 249px;
	height: 145px;
	border-right: 1px solid #ccc;
    margin-top: 10px;
}
.recom-bd .last {
	border-right: 0;
}
.box-hd{
	height: 30px;
	margin-top: 25px;
	border-bottom: 2px solid #c81623;
}
.box-hd h3{
	float: left;
	font-size: 18px;
	color: #c81623;
}
.tab_list {
	float: right;
	line-height: 30px;
}
.tab_list li{
	float: left;
}
.tab_list a{
	margin: 0 15px;
}
.tab_con li{
	float: left;
	height: 360px;
}
.tab_con_list li{
	width: 86px;
	height: 32px;
	margin-left: 10px;
	line-height: 32px;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
.box-bd img {
	/*过渡写到本身上， 谁做动画，给谁加*/
	transition: all .2s;
}
/*我们鼠标经过图片 往右走 8px*/
.box-bd img:hover {
	margin-left: 8px;
}
.tab_con_item{
	border-bottom: 1px solid #ccc;
}
.w209{
	width: 209px;
	background-color: #f9f9f9;
}
.w329{
	width: 329px;
}
.w219{
	width: 219px;
	border-right: 1px solid #ccc;
}
.w220{
	width: 220px;
	border-right: 1px solid #ccc;
}
.fixedtool{
	position: fixed;
	display: none;
	top:100px;
	width: 66px;
	left: 50%;
	margin-left: -676px;
	background-color: #fff;
}
.fixedtool li{
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 12px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
.fixedtool .current{
	background-color: #c81623;
	color: #ccc;
}